[2015-08-04 13:39] vishals321 opened #1 "install on shared hosting"
Can it run on shared hosting which is available to everyone?

[2015-08-04 13:53] stackphysics commented on #1
Because it use Phalcon, so if you can running Phalcon on hosting then it working, also you can see topic https://forum.phalconphp.com/discussion/929/phalcon-on-shared-hosting

[2015-08-08 21:44] axisdos opened #4 "Some suggestions for Phanbook"
First of all, I just have to give a quick compliment. Just by looking at the live demo, I think this is what I've been looking for. The script is awesome, but here are some more suggestions.

SEO Features:
1. SEO Friendly URL (DONE)
2. Meta description, generate the post excerpt (NOT DONE)
3. Canonical tag, this is a must to avoid duplicate content (NOT DONE)

More info: https://moz.com/blog/seo-c

[2015-08-09 04:44] muondecay commented on #4
Ok. I will consider that

[2015-08-21 15:52] duythien opened #7 "Phanbook redesign"
Hi there

Currently, we have some theme but that not good so we need to redesign it

- Material redesign
- Flat redesign

Here some article good for you
- [Reddit redesign concept] (https://medium.com/@stothelios/reddit-redesign-concept-913aa552124e)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26039712-phanbook-redesign?utm_campa

[2015-08-22 16:22] #1 closed

[2015-09-02 23:01] sergeyklay commented on #7
+1

[2015-09-09 16:41] canhtran opened #16 "Dashboard Recommendation"
Hi, I want to suggest some features for the dashboard
- The chart which shows current online users. (sync with google analytics)
- Overall about the questions in Phanbook, can show the total number on header together with around 5 latest question. Consider the filter by most view questions.
- Latest commend, and total comments
- Announcement from Phanbook team. (release new latest patch).

[2015-09-09 16:51] muondecay commented on #16
This is awesome  :+1:

[2015-09-10 06:27] sergeyklay commented on #16
:+1:

[2015-10-01 16:42] nhanfu opened #34 "Can Phanbook make a multi level question answer like Reddit"
I need to create Question Answer like Reddit with multi level. Can Phanbook do this? How about adding emoji to each post?

[2015-10-02 01:07] duythien commented on #34
@nhanfu Currently the phanbook have not yet, We will implement late

[2015-10-27 10:04] duythien opened #37 "Created new logo Phanbook [$50]"
Hi there,

Currently,  we have a logo but this not good, so we need to re-design a awesome logo, any idea are welcome

<bountysource-plugin>
---
There is a **[$50 open bounty](https://www.bountysource.com/issues/27729242-created-new-logo-phanbook?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.

[2015-11-19 03:11] catrobson commented on #37
Some variations of a logo idea - only in black and white at this point to see if you like the general concept before applying any color suggestions.
![phanbook_logoconcepts](https://cloud.githubusercontent.com/assets/3739227/11261314/38660546-8e41-11e5-8597-654ac331c268.png)

[2015-11-19 03:28] glmanhtu commented on #37
I think this logo need an special icon rather than only word. Something similar Phalcon framework logo. It wil make easy for people to realize phanbook with another trademarks

[2015-11-19 03:59] duythien commented on #37
@yehnkay  you are right :+1:

[2015-11-20 12:22] elioqoshi commented on #37
## Commented also here: https://github.com/opensourcedesign/jobs/pull/70#issuecomment-158381623

@duythien first proposal here. I used a Mockingbird for the logo. The idea behind was that mockingbirds are also called colibri, and "libri" comes from "libre" as in free :)

Let me know what you think
![draft-01](https://cloud.githubusercontent.com/assets/5436686/11299755/ad422022-8f89-11e5-9edf-006dd

[2015-11-20 12:23] elioqoshi commented on #37
Here is another one without stroke
![2-01](https://cloud.githubusercontent.com/assets/5436686/11299786/df75b3f6-8f89-11e5-812f-83e7af67fd89.jpg)

[2015-11-20 13:20] duythien commented on #37
@elioqoshi It doesn't look really beautiful, just my opinion

[2015-11-20 13:31] elioqoshi commented on #37
@duythien  uhm okay, but can you specify why? I can't improve if I don't get feedback.

[2015-11-20 13:56] duythien commented on #37
I'm not sure, first we don't need the text phanbook in logo you can see some logo such as Drupal or Opensouce do not have text

[2015-11-20 14:05] elioqoshi commented on #37
erm afaik the only brand without a wordmark is Twitter.
and of course Drupal has a wordmark:
https://www.google.com/search?q=drupal+logo&biw=1920&bih=945&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjcnLrGlZ_JAhWFBBoKHaUMCV0Q_AUIBigB

I think I'm going to leave this, the instructions are too confusing.

Good luck!

[2015-11-20 15:21] duythien commented on #37
@elioqoshi Ok no problem, I don't have  any idea for logo right now, just want to awesome

[2015-11-20 22:26] elvidi opened #40 "Navigation"
Hi, i have a problem with navigation, the section "users, badges, tags" not load.

My server is:
Apache 2.0
PHP Version 5.6.8
Phalcon 2.0.7

What could be the problem?

![captura](https://cloud.githubusercontent.com/assets/15949626/11313502/4990f05e-8fab-11e5-9ffb-0cb1ba077e85.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2847

[2015-11-20 23:08] sergeyklay commented on #37
Hummingbook?

![archilochus-alexandri-002-edit](https://cloud.githubusercontent.com/assets/1256298/11314227/6586c23e-8fec-11e5-8556-520e41e2d830.jpg)

[2015-11-20 23:10] sergeyklay commented on #37
[Phalcon](http://www.istockphoto.com/photos/peregrine+falcon?facets={%22text%22:[%22peregrine%20falcon%22],%22pageNumber%22:1,%22perPage%22:100,%22abstractType%22:[%22photos%22],%22order%22:%22bestMatch%22,%22f%22:true})

[2015-11-20 23:11] sergeyklay commented on #37
:-1:

[2015-11-21 04:05] duythien commented on #40
@elvidi Currently, We have not add htaccess apache, so it will not working, It work fine with Nginx you can use my vagrant to develop or Docker for production

We will add htaccess later

[2015-11-21 04:06] duythien commented on #37
:)

[2015-12-01 20:14] elvisfloress commented on #40
Ok, thank you :)

[2016-02-23 15:04] pompaskin commented on #7
Hi!

I want to share my first draft/ideas about the redesign of Phanbook and see what do you think.

The first thing I’ve done is to think how the navigations were made.

I’ve separated the navigation in two main different sections, I see a difference between the general actions of the navigation and the “filtering” actions who are related directly to the content of the web.

As you can see I’ve c

[2016-02-23 15:52] duythien commented on #7
For now:

You right

The elements for homepage it will not change and it is  enough right now, I think you should  add more icon or color for the questions have a answer which is accepted to highline this

[2016-02-27 06:25] duythien commented on #40
Now it working for font-end :)

[2016-03-04 05:36] duythien commented on #7
@pompaskin Anything update :)

[2016-03-04 07:59] pompaskin commented on #7
Hey @duythien sorry, i've been a bit busy lately, I'll update you as soon as posible :)

[2016-03-04 08:06] duythien commented on #7
No problem

[2016-03-10 07:35] phpclub opened #48 "Crashed under PHP Version 7.0.4-1, Phalcon 2.1.0b"
[10-Mar-2016 10:41:02] WARNING: [pool www] child 4861 exited on signal 11 (SIGSEGV - core dumped) after 29.222294 seconds from start

Web framework delivered as a C-extension for PHP
phalcon	enabled
Author	Phalcon Team and contributors
Version	2.1.0b
Build Date	Mar 10 2016 09:56:57
Powered by Zephir	Version 0.9.2a-dev

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2016-03-10 08:06] duythien commented on #48
Hi

What is version php? Currently Phalcon PHP have not support PHP 7, so to use Phanbook just updown version php5.6.x

[2016-03-10 08:46] pompaskin commented on #7
Hi!

If we want to give colors to the tags I will need a list of all the tags that exist to choose the color that represents each tag.

One question that I have is, what is more important in Phanbook, the upvotes, the comments or both have the same importance?

For example on reddit it seems to be the upvotes (as you can see they have the number big on the left and the comments go on the right sid

[2016-03-10 08:56] duythien commented on #7
Hi

With a post it is max 5 tags, you can create tag to test

I think the comment(it mean the answers) it is import for Q&A site, just my opinion

[2016-03-10 12:59] pompaskin commented on #7
Hey! I've tried a few things for the homepage and I've started also with the detail page.

This green color is just a test, I wanted to try something different that look more "flat" you can tell me what you think. In this website you can see more flat colors: http://www.flatuicolorpicker.com/

I think all the tags should have the same color, because if we add a lot of colors can be too distractive

[2016-03-10 13:42] sergeyklay commented on #7
Looks good to me

[2016-03-10 13:57] duythien commented on #7
Hi

I completely agree.

Yes, we can leave the right sidebar empty and we can add the sharing button for it , so I think it is ok

[2016-03-10 15:30] glmanhtu commented on #7
@pompaskin Well, I think your design templates's very interesting. However, in Phanbook detail page, I think we've two kind of the answer. The first one is comment and the second one is real answer for the question (just like StackOverflow). If we show all of the answers, so, it will make difficult for user, who want to looking for the real answer, and so on.
In Phanbook home page, it look pretty

[2016-03-11 11:56] pompaskin commented on #7
Hi @yehnkay I'm happy that you like the designs!

_"The first one is comment and the second one is real answer for the question (just like stack over flow). If we show all of the answers, so, it will make difficult for user, who want to looking for the real answer, and so on."_

Regarding to this for now I'm just designing the pages I see that exist. I didn't know there are 2 kind of answers, coul

[2016-03-13 03:38] duythien commented on #7
Hi

You can see at http://dev.phanbook.com/questions/66/phalcon-zephir-funding-campaign

[2016-03-21 09:59] pompaskin commented on #7
Hey @duythien and @yehnkay  I'm confused with the detail page design, I don't see the difference between the last link you send me and what @yehnkay said here about the design I uploaded last time:
_
"However, in Phanbook detail page, I think we've two kind of the answer. The first one is comment and the second one is real answer for the question (just like StackOverflow). If we show all of the an

[2016-03-21 11:46] glmanhtu commented on #7
Hmm, ok. This is my fault, I haven't show my opinion in clearly way to you. So, you can see at the link, which @duythien has sent. The first kind of answer just is a comment and it don't have up & down vote button. The second one have bigger font size. To be clear, you can look at the photo in attachment which I was marked about which one is comment and which one is real answer.

Have a nice day :

[2016-03-21 12:05] pompaskin commented on #7
Hey @yehnkay Thank you for your answer! :) I get it now, I will adapt the design to give more importance to the first answer.

Have a nice day you too!

[2016-03-22 09:59] pompaskin commented on #7
I've adapted the design of the detail question page, On the sidebar I've tried to add the social icons on the top and also to have a "ask question" button on the side + some hot questions as @yehnkay suggested for the homepage.

I also did the ask question page and the Tags page, on the tags I've put the number of posts/questions that are inside each topic next to the name of the tag.

What do you

[2016-03-23 02:27] duythien commented on #7
Hello

I have edit some element in this pdf file below, you can take look it
[Phanbook-Detail.Page(1).pdf](https://github.com/phanbook/phanbook/files/185305/Phanbook-Detail.Page.1.pdf)

And I see the Tags and Ask files look good

[2016-03-31 09:46] pompaskin commented on #7
Hi @duythien I will adapt the file with your changes :)

I wanted to ask you, we just have left to do the users page? And when do you think you will implement the designs?

[2016-03-31 10:08] duythien commented on #7
Hi @pompaskin

Well If you have idea for users page you can add design for it:), for now I have just sample layout for it http://dev.phanbook.com/users

And we have done design I will implement it

[2016-04-04 08:55] pompaskin commented on #7
Hii guys! Sorry for the delay, here is the adapted design for the detail page and the user page design. For the users I've used something really similar to what you have designed, I think the design is good like that. What do you think?

[Phanbook-Detail Page.pdf](https://github.com/phanbook/phanbook/files/202069/Phanbook-Detail.Page.pdf)
[Phanbook-Users Page.pdf](https://github.com/phanbook/phanb

[2016-04-04 14:05] duythien commented on #7
@pompaskin That look good, so what about for mobile phone version?

[2016-04-06 08:07] pompaskin commented on #7
Hey @duythien I'm working on the mobile designs, when I have all of them I'll upload them here

[2016-04-18 08:24] pompaskin commented on #7
Hi, I have two of the mobile designs, for the homepage and for the page of the question. When would you start doing the frontend of the first theme??

[Mobile Detail Page.pdf](https://github.com/phanbook/phanbook/files/223323/Mobile.Detail.Page.pdf)
[Mobile Homepage.pdf](https://github.com/phanbook/phanbook/files/223324/Mobile.Homepage.pdf)

[2016-04-18 11:34] duythien commented on #7
@pompaskin Currently I'm busy but I tried to start doing it at saturday this week,by the way what is tool you create this mockup?

[2016-04-18 15:33] pompaskin commented on #7
@duythien I'm using sketch for the designs, if you need I can send you the original files or something

[2016-04-22 04:42] duythien commented on #7
@pompaskin Right now I think this theme is ok so you don't need create layout for mobile, thank you for you contribution :) :+1:

[2016-06-15 21:33] rmrio opened #52 "Question views are not working"
Hi, i have a problem with urls like /questions/*, the error is:

    Fatal error: Uncaught TypeError: Argument 1 passed to Phalcon\Mvc\Model::validate() must implement   interface Phalcon\ValidationInterface, instance of Phalcon\Mvc\Model\Validator\Uniqueness given in     /usr/share/nginx/html/phanbook/core/common/models/Users.php:856 Stack trace: #0   /usr/share/nginx/html/phanbook/core/common/mo

[2016-06-16 01:10] duythien commented on #52
Hello @rmrio

Because the Phanbook use Phaclon to develop, so that right now Phalcon do not support PHP7 that mean Phanbook it will not woking

Try use PHP 5.6.x it will work fine

[2016-06-16 15:07] rmrio commented on #52
Ok, i will try. It should be specified in the docs.

[2016-07-05 15:19] #48 closed

[2016-07-05 15:19] #40 closed

[2016-07-23 03:25] #52 closed

[2016-08-26 09:35] weboloper opened #56 "install phanbook in a subfolder"
stylesheets are not loading. and hyperlinks dont work

[2016-08-27 03:22] duythien commented on #56
Hello

Could you upload example images capture html

[2016-09-11 11:50] amsharma9 opened #59 "Unable to get Phanbook to work on Wamp"
Hi,

I downloaded the Phanbook last month. I have installed it on Wampserver on my Windows machine. It doesn't show up properly. I checked the source. No styling is visible. I can see issues with paths. See the parts of source code of page. Shouldn't these look like ` href="http://localhost/phanbook/content/themes/default/assets/css/app.css" />` or as probably in relative path format `href="conten

[2016-09-12 00:00] duythien commented on #59
Hello @amsharma9

Currently, I have not test the phanbook on wamp yet, so that I guess you need add a virtual host for it take look at https://blog.phalconphp.com/post/tutorial-your-first-encounter-with-phalcon-part-2

[2016-09-12 00:27] amsharma9 commented on #59
Thien,

I think the issue is only with path as I mentioned. Your CSS are not being included properly. I checked `ControllerBase.php`. This path `/content/themes/default/assets/css/app.css` is incorrect and gives an error on clicking. You are not including the `staticBaseUri` for them somewhere. JS paths seems ok. I couldn't locate the code where this is done.

[2016-09-14 02:43] amsharma9 commented on #59
Hi @duythien,

This issue is probably same as #56 which is still open. I checked, the issue is that the whole code is assuming the website is operating from `http://localhost`. It doesn't recognize `http://localhost/phanbook` as base URI. If you solve that, it should solve the issue. See if you can solve this early. That will help.

[2016-10-18 12:52] #37 closed

[2016-10-21 04:56] duythien opened #62 "Add data language for Vietnam"
Just add data at https://github.com/phanbook/phanbook/blob/master/core/lang/messages/vi.php

[2016-10-25 08:45] duythien opened #63 "Fix some bug Phanbook compatible php 7"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38652162-fix-some-bug-phanbook-compatible-php-7?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=gi

[2016-10-25 18:24] sergeyklay commented on #63
Fixed in https://github.com/phanbook/phanbook/issues/65

[2016-10-26 08:14] duythien commented on #63
Thanks

[2016-10-26 08:14] #63 closed

[2016-10-26 08:54] sergeyklay opened #67 "Move index.php from document root to the public/index.php"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38692138-move-index-php-from-document-root-to-the-public-index-php?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=i

[2016-10-26 08:56] duythien commented on #67
OK, I see  you can do it

[2016-10-26 10:26] sergeyklay opened #69 "Merge core/common/tools/Debug.php and bootstrap/helpers.php"

[2016-10-26 10:31] sergeyklay opened #70 "Introduce CLI test suite"

[2016-10-26 11:02] sergeyklay opened #71 "Merge core/config/constants.php and bootstrap/constants.php"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38693633-merge-core-config-constants-php-and-bootstrap-constants-php?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium

[2016-10-26 11:49] sergeyklay opened #72 "Introduce separated error handler"

[2016-10-26 16:01] sergeyklay opened #75 "Introduce path helpers"
To avoid using paths like `ROOT_DIR . '/content/options/options.php'` or `ROOT_DIR . 'content/options/options.php'` and possible errors by using (or not using) leading slash we need to introduce path helpers. Something like:

* [x] `app_path()`
* [x] `config_path()`
* [x] `content_path()`
* [x] `themes_path()`
* [x] `modules_path()`
* [x] `logs_path()`

Refs: https://github.com/phanbook/phanbook/p

[2016-10-26 16:04] duythien commented on #75
👍

[2016-10-26 16:05] sergeyklay opened #76 "Introduce Service Providers"
Example: https://github.com/phalcon/mvc#single-service-provider

[2016-10-26 16:47] sergeyklay opened #77 "Remove composer.phar and phpcbf.phar"
We need to remove outdated `composer.phar` and `phpcbf.phar` librares from project root.
These librares should be used from `vendor/bin/<library>`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38746561-remove-composer-phar-and-phpcbf-phar?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We a

[2016-10-26 16:47] sergeyklay commented on #70
Implemented in `develop` branch

[2016-10-26 16:47] #70 closed

[2016-10-26 18:30] sergeyklay opened #79 "Implement Theme Manager"

[2016-10-27 09:14] sergeyklay commented on #67
Done in `develop` branch

[2016-10-27 09:14] #67 closed

[2016-10-27 09:15] sergeyklay commented on #69
Fixed in `develop` branch

[2016-10-27 09:15] #69 closed

[2016-10-27 09:15] sergeyklay commented on #79
Implemented in `develop` branch

[2016-10-27 09:15] #79 closed

[2016-10-27 10:17] sergeyklay opened #81 "Phanbook\Models\ModelBase::getPostsWithVotes issue"
The code:

[code]

causes the SQL error:

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38725881-phanbook-models-modelbase-getpostswithvotes-issue?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2016-10-27 12:35] duythien commented on #81
It work fine on

[code]

[2016-10-27 15:35] canhtran commented on #62
#83 Can find the file in here

[2016-10-27 16:09] sergeyklay opened #84 "Add Russian translation"

[2016-10-27 17:21] sergeyklay commented on #81
Fixed in `develop` branch

[2016-10-27 17:21] #81 closed

[2016-10-27 22:57] sergeyklay commented on #75
Added to the `develop` branch

[2016-10-27 22:57] #75 closed

[2016-10-27 23:42] sergeyklay opened #90 "First stable release"
Hey :)

We need first stable and tagged release (eg. 1.0.0).
What do you think about this?

Cc: @duythien, @muondecay, @yehnkay

[2016-10-27 23:54] sergeyklay commented on #71
Fixed in `develop` banch

[2016-10-27 23:54] #71 closed

[2016-10-28 03:51] duythien commented on #77
Ok, that fine

[2016-10-28 06:19] sergeyklay commented on #77
Fixed in `develop` btanch

[2016-10-28 06:19] #77 closed

[2016-10-28 08:34] #7 closed

[2016-10-28 19:34] sergeyklay opened #97 "Add RSS/Atom support"

[2016-10-28 21:40] sergeyklay commented on #84
Initial ability added to the `develop` branch.

[2016-10-28 21:40] #84 closed

[2016-10-29 05:48] duythien opened #99 "Add function translation for constants"
For example this file https://github.com/phanbook/phanbook/blob/develop/bootstrap/constants.php

If I have add a new constants such as like this

[code]

Will be get a error  below

( ! ) Error: Call to undefined function t() in bootstrap/constants.php on line 63

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38775676-add-function-t

[2016-10-29 06:25] duythien commented on #99
I see your reasons remove it  https://github.com/phanbook/phanbook/pull/89

[2016-10-29 07:31] sergeyklay commented on #99
@duythien This is not a good idea to add translations via global PHP constants (eg `define(...)`). We should avoid this. Use `t(...)` directly in code

[2016-10-29 07:31] #99 closed

[2016-10-29 08:07] sergeyklay opened #101 "Unable to edit profile"
Steps to reproduce:
1. Log In as regular user
2. Open `/users/profile`
3. Fill any field
4. Click Update button
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38776681-unable-to-edit-profile?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2016-10-29 09:04] sergeyklay opened #102 "Mysql stop using zero values by default."
Steps to reproduce:
1. Log In as admin
2. Open `http://phanbook.dev/users/profile`
3. Fill Website field
4. Click Update button
[code]

This issue related only to MySQL >= 5.7

See: http://stackoverflow.com/questions/36374335/error-in-mysql-when-setting-default-value-for-date-or-datetime

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2016-10-29 19:20] sergeyklay commented on #101
Fixed in the `develop` branch

[2016-10-29 19:20] #101 closed

[2016-10-29 19:37] sergeyklay opened #105 "Implement /badges page"

[2016-10-29 21:57] sergeyklay opened #107 "Unable to authorize in some clients"
Steps to reproduce:
1. Open `/oauth/login`
2. Fill `email` and `password` fields
3. Click `Sign In`

[code]

User Agent:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.143 Safari/537.36

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/38786861-unable-to-authorize-in-some-clients

[2016-10-30 00:55] sergeyklay commented on #107
Fixed in `develop` branch

[2016-10-30 00:55] #107 closed

[2016-10-30 18:19] sergeyklay commented on #102
Fixed in the `develop` branch

[2016-10-30 18:19] #102 closed

[2016-10-31 10:11] sergeyklay opened #120 "Move OpsFiles to the separated repository"
@duythien Could you please sort out with this? I think we can created docker-compose also.
So we need update docs repo

[2016-10-31 14:01] duythien commented on #120
Hello @sergeyklay

Ok, will do it currently I was  a docker composer for it, I will be update at https://github.com/phanbook/opsfiles

[2016-11-03 13:12] sergeyklay opened #130 "Standartize theme info format"
To standartize theme config format I sugget to use `theme.json` file instead of `info.php`. This allow us for example fetch new temes from remote host. So we can install new theme by using URI like https://github.com/user/repo/blob/master/theme.json.

[2016-11-03 21:17] sergeyklay opened #132 "Unable to see user profile"
Steps to reproduce:
1. Log In as regular user
2. Open `/@admin`

[code]

MySQL >= 5.7

[2016-11-04 09:22] sergeyklay opened #133 "Introduce support for Prophiler"
https://github.com/fabfuel/prophiler

[2016-11-06 11:09] elonkmusk commented on #133
:+1:

[2016-11-06 18:02] sergeyklay commented on #120
Done in `develop` branch

[2016-11-06 18:02] #120 closed

[2016-11-06 18:03] sergeyklay commented on #76
Implemented in `develop` branch

[2016-11-06 18:03] #76 closed

[2016-11-06 18:51] sergeyklay commented on #62
Added in https://github.com/phanbook/phanbook/pull/145

[2016-11-06 18:51] #62 closed

[2016-11-08 20:23] sergeyklay commented on #132
Fixed in `develop` branch

[2016-11-08 20:23] #132 closed

[2016-11-08 22:58] sergeyklay opened #154 "Move phanbook to the ops repo"
@duythien Is it possible to move `phanbook` file from the root dir to the ops-repo?

[2016-11-09 02:34] duythien commented on #154
Yes, we can do it instated use phanbook repo to setup environment now we can use opsfile repo do it

[2016-11-09 08:35] sergeyklay commented on #154
Removed in `develop` branch

[2016-11-09 08:35] #154 closed

[2016-11-09 19:56] sergeyklay opened #156 "Add ability to edit post rely"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39101774-add-ability-to-edit-post-rely?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github).
<

[2016-11-09 19:57] sergeyklay opened #157 "Add right sidebar for the pages"
For example `/tags/16/volt`

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39101806-add-right-sidebar-for-the-pages?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medi

[2016-11-09 19:57] sergeyklay opened #158 "Implement sitemap"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39101819-implement-sitemap?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github).
</bountysourc

[2016-11-09 19:58] sergeyklay opened #159 "Improve slug"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/39101839-improve-slug?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F17328771&utm_medium=issues&utm_source=github).
</bountysource-plu

[2016-11-10 07:18] sergeyklay opened #164 "Update README.md"
@duythien Could you please update README.md and move all install-related docs to the docs/installer repo. I mean for phanbook repo, it is enough to have just a link to docs/installer repo instead of detailed instructions about Docker, Vagrant, etc.

[2016-11-10 14:25] duythien commented on #164
Done in branch develop

[2016-11-10 14:25] #164 closed

[2016-11-10 14:59] binarynos opened #166 "Cannot install phanbook on WAMP"
Hello,
I am trying to install phanbook on WAMP but i get the error page titled "Site maintenance". I checked the log and found:
[code]

What might have gone wrong?
Thanks

[2016-11-10 15:15] sergeyklay commented on #166
@binarynos Could you please provide MySQL vesion and used phanbook branch ?

[2016-11-10 15:29] binarynos commented on #166
Hello @sergeyklay MySQL version is 5.6.33

[2016-11-10 15:30] sergeyklay commented on #166
@binarynos Did you use `master` or `develop` branch?

[2016-11-10 15:33] binarynos commented on #166
I used the `master` branch

[2016-11-10 15:33] sergeyklay commented on #166
So could you try the `develop` branch

[2016-11-10 15:35] binarynos commented on #166
@sergeyklay okay I will try and post the results here

[2016-11-11 08:44] binarynos commented on #166
So I tried the `develop` branch but now it shows another error `Fatal error: Class 'Memcached' not found in \vhosts\phanbook\core\common\Application.php on line 172`

[2016-11-11 08:48] sergeyklay commented on #166
You have to install Memcached extension. I'll improve this. To use another cache backend in case of absence of Memcached

[2016-11-11 09:22] binarynos commented on #166
I am using PHP 5.6 but could not find a Windows Memcached version for PHP 5.6. I tried to use the Memcached 1.2.6 found [here](http://code.jellycan.com/files/memcached-1.2.6-win32-bin.zip) and PHP Memcached extension found [here](http://windows.php.net/downloads/pecl/releases/memcache/3.0.8/php_memcache-3.0.8-5.6-ts-vc11-x86.zip). But I still get the same error. I am not a programmer so I think I

[2016-11-11 09:49] duythien commented on #166
@binarynos in mean time you can test it with vagrant

[2016-11-11 09:51] sergeyklay commented on #166
@binarynos  Let me fix memcached issue. I'll do it today

[2016-11-11 10:02] sergeyklay commented on #56
@weboloper Could you please try the `develop` branch?

[2016-11-11 10:02] sergeyklay commented on #59
@amsharma9 Could you please try the `develop` branch?

[2016-11-13 08:32] binarynos commented on #166
Any updates on this issue, is it impossible to install phanbook without Memcached?

[2016-11-13 10:09] sergeyklay commented on #166
@binarynos Could you please try `develop` branch?

[2016-11-13 13:04] sergeyklay commented on #166
@binarynos For setting up the cache driver please refer to the https://github.com/phanbook/phanbook/pull/178

[2016-11-13 14:02] binarynos commented on #166
@sergeyklay  I tested again with the latest `develop` branch using Redis as cache driver but this time I see a completely different issue. I get error:

[code]

I have double checked the database configuration : `username`, `host`, database name, and database charset in core/config/config.php and everything is correct.

Any suggestions?

[2016-11-13 15:06] sergeyklay commented on #166
@binarynos could you please provide your local `.env` file? I'm interested in **`DB_`** part.
For example my `.env` file:

[code]

[2016-11-14 02:33] binarynos commented on #166
@sergeyklay here is the .env file

[code]

Actually I only modified the DB part, other configuration is the same as the .env.example file. Do I need to change something elsewhere, like I am confused in the CACHE part?

[2016-11-14 06:58] sergeyklay commented on #166
@binarynos
Hm, looks like this is Windows-related issue. See: https://github.com/vlucas/phpdotenv/issues/109
As workaround you can put db credentials directly to the `core/config/config.php`

[2016-11-14 07:08] binarynos commented on #166
As I already [said](https://github.com/phanbook/phanbook/issues/166#issuecomment-260188058) db credentials are already present in `core/config/config.php`. But for some reason it can't connect to database. There is some other error information. I can post it here if you need.
Thanks

[2016-11-14 07:10] binarynos commented on #166
Sorry, I accidently closed the issue

[2016-11-14 08:53] sergeyklay commented on #166
Well, at least you can dump config here to see what exactly now there

[2016-11-14 09:23] duythien commented on #166
@binarynos To test correct you should be set password for mysql because some time https://github.com/phanbook/phanbook/blob/develop/core/config/config.php#L22

[code]

It will not be understand is empty

[2016-11-14 10:30] binarynos commented on #166
@sergeyklay sorry i don't understand, i think you are asking for the `config.php` file. The only changes i made to the file are:

[code]

Rest of the code is the same
@duythien the password is already set

[2016-11-14 10:58] sergeyklay commented on #166
@binarynos You have to use:

[code]

See how `env( )` works: https://github.com/phanbook/phanbook/blob/develop/bootstrap/helpers.php#L139-L159

[2016-11-14 11:07] binarynos commented on #166
@sergeyklay  Okay, I got it working. So, this was the problem. Sorry again to bother you and thanks a lot!

[2016-11-14 12:27] sergeyklay commented on #166
@binarynos How about first question? Is issue solved?

[2016-11-15 11:39] sergeyklay opened #196 "Separated Grid Component"
Create separated Grid Component to avoid hardcoding in controllers and improve code quality

[2016-11-15 11:40] sergeyklay commented on #166
@binarynos

[2016-11-15 12:02] binarynos commented on #166
@sergeyklay, which issue? The cache driver issue? Yes, it's fixed. I configured .env file to use Redis and everything is working as expected

[2016-11-15 21:08] sergeyklay commented on #166
@binarynos I meant your first message in this issue

[2016-11-16 08:40] binarynos commented on #166
@sergeyklay yes that problem too is fixed now

[2016-11-16 09:01] #166 closed

[2016-11-16 09:01] sergeyklay commented on #166
Thanks

[2016-11-17 15:26] duythien commented on #130
👍

[2016-12-23 17:02] arnoldbird opened #210 "Some pages on your website are down"
All the subdomains are down...
blog.phanbook.com
themes.phanbook.com
etc

Also, the "Follow Along" social buttons on your site are broken at the moment, if you're not aware.

Thanks.  Look forward to reading more about phanbook.

[2016-12-23 18:34] arnoldbird opened #211 "The name "phanbook""
re: "the name Phanbook is mean - Phan(Phalcon PHP)book(the your note book)".

I don't think it works.  People will come to this software primarily for the Q&A functionality.  I don't know what the name should be, but "Phanbook" sounds too much like facebook.  Even something like "Phalcon Q&A" would be better.

Thanks!  I look forward to trying the software very soon.

[2016-12-23 19:04] sergeyklay commented on #211
Cc: @duythien

[2016-12-24 02:00] duythien commented on #210
Hello

I have just fix some domain down, and I also hide the button social you can see here https://github.com/phanbook/portal.phanbook/commit/e291718ad0b44d0795e274e7b51e82aa0d8de961

[2016-12-24 02:03] duythien commented on #211
@arnoldbird Yep Maybe you right but for now I'm fine with the name phanbook, if we change name it will be more to refactor code and SEO on google

[2016-12-24 06:21] arnoldbird commented on #211
The name will hold you back.  I'm a native English speaker, and at least in English, the sound & sense of "phanbook" is very bad.  It will limit developer interest and adoption by organizations.  It will also hold phalcon back, since phanbook appears to be the "killer app" that can popularize phalcon.

It sends a bad message when the framework's most important app has a name that's at cross purpos

[2016-12-24 06:26] arnoldbird commented on #210
It's not fixed at the moment.  The pages won't load.  I tried on safari and Firefox.  Thank you.

[2016-12-24 06:56] arnoldbird commented on #211
Other name options:

- **cast** -- This is the word for a flock of falcons.  Flock ~ organized community.  Also the word for a group of actors working on a movie.  Also: "cast a spell." "Cast of characters."  Also rhymes with fast.
- **phlock**
- **phalcon Q&A**.
- **phanswers**
- **phlux** -- Might collide with https://github.com/rphcrosby/phlux/commits/master
- **elephant** -- Just because.  "El

[2016-12-24 07:09] duythien commented on #211
@arnoldbird Ok I will take look and thinking again :)

[2016-12-24 07:10] duythien commented on #211
@sergeyklay Any idea welcome :)

[2016-12-24 07:11] duythien commented on #210
You have tries clean history ? you can see test https://proxy-nl.hide.me/go.php?u=hdds1QFeH2VnPI9uhsO6%2FVIMCA0l&b=5&f=norefer

[2016-12-24 07:11] arnoldbird commented on #211
I'll add more to my list above as I think of them.

[2016-12-24 11:58] sergeyklay commented on #211
First of all I'm not sure that the name should be composed of Phalcon or PHP.

[2016-12-24 13:55] arnoldbird commented on #210
I can see the pages through "hide me", yes.  But somehow I still can't see any of the sub domains in any of my browsers or devices without using "hide me".

[2016-12-24 14:04] arnoldbird commented on #211
Sergeyklay,

I'm not sure about that either.

Right this moment, I like "tembo" best.  It's short, simple, neutral, no namespace collision, and no licensing problem. And it's non-English so it reinforces that this is an international project.

I like "babar" but maybe there could be a licensing problem.  Also, it's not entirely neutral because some people think the Babar stories support colonialis

[2016-12-24 14:05] sergeyklay commented on #211
I like Tembo

[2016-12-24 14:22] sergeyklay commented on #211
* [Tembo](https://www.houdah.com/tembo/?lang=en) - Friendly File Search Assistant
* [tembo.in](http://www.tembo.in/) - India's leading manufacturer of A4 copier papers-xerox papers, galavanised hose clamps, ball pens, pencils, noteboks, long note books and other products
* [Project TEMBO](http://projectembo.org/) - stands for Tanzania Education and Micro-Business Opportunity
* [Tembo Financial](ht

[2016-12-24 14:36] arnoldbird commented on #211
The first one (the file search tool) seems like the worst collision.  I don't think the others are a problem.  And I'm not really sure the file search tool is a problem.  I don't know who really needs a tool like that.  People don't even keep files on their computers anymore.  I think it might be ok to collide with that, but I'm not sure.  More an one thing can be called "elephant" so maybe more t

[2016-12-24 18:05] arnoldbird commented on #210
Now I can see the sub domains in my browser without using "hide me".  I'll close this issue.  Thanks!

[2016-12-24 18:05] #210 closed

[2016-12-24 20:26] arnoldbird opened #212 "responsive css path was wrong"
I'm installing phanbook on LAMP.

I was having a problem with the default theme, where the path to the theme.css was correct but the path to responsive.css was wrong...

[code]
This was after installing on LAMP with the manual instructions:  http://phanbook.com/docs/manual

To fix it, I made a symbolic link in public to core...

`me@here:/var/www/phanbook/public$ sudo ln -s ../core core`

But is t

[2016-12-25 16:22] arnoldbird opened #213 "Questions do not save"
When I try to save a question on the **frontend**, it doesn't save.  This page loads:  posts/save

In the error log I see...

[Sun Dec 25 11:16:41.010392 2016] [:error] [pid 4381] [client 127.0.0.1:51962] PHP Warning:  Invalid argument supplied for foreach() in /var/www/yo/phanbook/content/cache/volt/_var_www_tembo_phanbook_content_themes_default_partials_right-side.volt.php on line 76, referer: h

[2016-12-26 02:16] arnoldbird opened #215 "Invalid parameter number: number of bound variables does not match number of tokens"
I am getting a white screen.  In the error I log I see...

[code]

[2016-12-26 02:21] arnoldbird commented on #215
I restarted apache and rolled back the database.  Not sure which of those actions fixed it, but the site is working again.

[2016-12-26 03:20] arnoldbird commented on #215
Happened again, out of nowhere:
[code]

The only way to recover the site seems to be to roll back the database.  Restarting appache doesn't fix it.

[2016-12-26 03:27] arnoldbird commented on #215
I rolled back the database, reset my code to a previous version, restarted apache, and restarted my browser.  That got the site working again.

[2016-12-26 04:45] arnoldbird commented on #215
It happened again and this time clearing my browser history fixed it.

[2016-12-26 04:50] duythien commented on #215
What is your browser it work fine on my firefox

[2016-12-26 04:55] duythien commented on #213
Hello @arnoldbird

I have just fix it in to branch develop so you can pull last code to test again

[2016-12-26 04:58] arnoldbird commented on #215
I've seen it happen in Firefox and Chrome.  I use Firefox, but when the problem happens, I check in Chrome and I see it happen there too.

[2016-12-26 05:24] arnoldbird commented on #213
I think your change may have introduced a new bug.  I can no longer access backend/dashboard or backend/themes/custom

Because I can't access the backend anymore, I can't create tags, and tag is a required field in the question form.

[2016-12-26 05:54] duythien commented on #213
Nope. This is not my bug because when you rollback your data at that issue https://github.com/phanbook/phanbook/issues/215, you need go to mysql console to update field admin in table users to 'Y'

Then logout and login again, currently your account not admin so you can not access backend

[2016-12-26 06:01] arnoldbird commented on #213
Yep, that was it.  And now I can save questions on the frontend as well.

[2016-12-26 06:01] #213 closed

[2016-12-26 06:43] arnoldbird commented on #215
I realized I was missing some things higher up in the log.  I didn't scroll up.  I just booted up my computer and went to my dev site, and I got a white screen and the same error I pasted above.  But here is some context from the log, higher up...

[code]

The ServerName thing I can fix.

[2016-12-26 06:49] sergeyklay commented on #215
@arnoldbird

You have to install

* `php_fileinfo.so` - http://php.net/manual/en/book.fileinfo.php
* `php_openssl.so` - http://php.net/manual/en/book.openssl.php

And

You need to load PDO first before Phalcon.
In your computer, have a look at the `/etc/php5/apache2filter/conf.d/` folder (_or any other directory containing Apache configs_)

The ini file that loads phalcon should be prefixed to a n

[2016-12-26 07:00] arnoldbird commented on #215
sergeyklay,

According to phpinfo(), all of those things are enabled.  And the phalcon ini does have a higher number already.  I still have a white screen.

Also, keep in mind that phanbook has worked ok much of the time.  This is an intermittent problem.  So initially, I don't see how it could be server config.

Thank you.

[2016-12-26 07:10] duythien commented on #215
@sergeyklay Yes. Maybe we need to note that for install manual

[2017-01-08 17:47] brainfoolong opened #218 "PHP Error"
I've installed phanbook via this instructions
http://phanbook.com/docs/manual

Now i'm getting always this error when i try to access the mainpage. I can't get it working.
Composer installation was successfull without errors. `composer version 1.3.1`

	composer install --no-ansi --no-dev --no-interaction --no-progress --no-scripts --optimize-autoloader
	Loading composer repositories with package i

[2017-01-08 17:54] sergeyklay commented on #218
Try without `--no-scripts`

[2017-01-08 17:57] brainfoolong commented on #218
Thx for fast answer. Didn't helped. I've also removed all contents in `vendor` and than ran the composer again. Not worked.

[2017-01-08 17:59] sergeyklay commented on #218
[code]

[2017-01-08 18:00] brainfoolong commented on #218
Sorry

	[Symfony\Component\Console\Exception\RuntimeException]
	The "--ignore-platform-deps" option does not exist.

[2017-01-08 18:03] brainfoolong commented on #218
Btw. Composer version: `You are already using composer version 1.3.1 (stable channel).`

[2017-01-08 18:15] brainfoolong commented on #218
The thing is, i understand why this cannot work.

1. `index.php` directly include `bootstrap/autoloader.php`
2. `bootstrap/autoloader.php` first line of code call `(new Loader)`

It's impossible that this could work because there is no code that can load the `Phalcon/Loader`, isn't it?

[2017-01-08 18:28] sergeyklay commented on #218
Do you have `phalcon.so` extension loaded?

[2017-01-08 18:29] sergeyklay commented on #218
`--ignore-platform-deps` => `--ignore-platform-reqs`

[2017-01-08 19:14] brainfoolong commented on #218
Sorry for bothering, i've not seen the phalcon extension requirement. Unfortunetely, phanbook is than nothing for me.

Thanks for your help.

[2017-01-11 08:07] rnvijay opened #219 "is there a way to achieve categories/sub-categories?"
I like things organized in drill down fashion -- is there a way i can achieve this?

thanks

[2017-01-12 01:10] duythien commented on #219
At the moment we have not sub categories

[2017-01-20 16:55] captbrogers commented on #72
What kind of error handling would you like to see implemented?

[2017-01-20 18:51] sergeyklay commented on #72
@captbrogers I wold like to use something like https://filp.github.io/whoops/

[2017-02-01 01:16] duythien opened #225 "Refector media in backend"

[2017-02-01 01:30] duythien commented on #225
I think should be save file like wordpress

[2017-03-15 08:09] kideny opened #234 "change the license ?"
i saw phanbook's license is GPLv2，the license can be changed to MIT or BSD license ?

@duythien

[2017-03-15 09:13] duythien commented on #234
Why? I see a open source WordPress have use GPLv2 https://github.com/WordPress/WordPress/blob/master/license.txt#L40

So that the Phanbook will be great with the license

[2017-03-15 09:14] kideny commented on #234
GPLv2 can't be used for company....

[2017-03-15 09:23] duythien commented on #234
@sergeyklay Any suggestion?

[2017-03-15 09:26] sergeyklay commented on #234
I agree with @kideny . It is reasonable to charge license (MIT or BSD)

[2017-03-15 09:55] duythien commented on #234
@kideny Alright, could you add BSD license for Phanbook?

[2017-03-15 09:57] kideny commented on #234
no problem!

[2017-03-15 09:57] #234 closed

[2017-04-21 21:08] #218 closed

[2017-04-21 21:10] #215 closed

[2017-07-14 09:00] sunex786 opened #239 "developing a website"
I am developing a website to show/manage the data models for IOT devices, each model including some files, like XML files. I  want a website to manage but  how could I get content of files from GitHub into web page html file, how could I integrate the files on GitHub and UI framework? Or is there any alternative way to do it.

Please, explain fully!

Waiting for your swift, smooth, sweet and sooth

[2017-07-14 15:24] duythien commented on #239
Hello

it seem wrong a question:) If you need build a Q&A site the is for you but if you need build a website you should search basic web php keyword

[2017-07-14 15:24] #239 closed

[2017-07-14 15:50] sunex786 commented on #239
1st of all, correct the English in your this message; I can't understand:

"Hello,
it seem wrong a question:) If you need build a Q&A site the is for you but
if you need build a website you should search basic web php keyword"

Or if you simply don't want to publish my question then just forget
about everything!

On Fri, Jul 14, 2017 at 8:24 PM, Thien <notifications@github.com> wrote:

--
Yours Si

[2017-08-17 05:19] Ultimater opened #240 "oauth: passwd is required"
![passwd-is-required](https://user-images.githubusercontent.com/1922199/29396933-e81ab8e0-82cf-11e7-979b-64232922dc3e.png)

Steps to reproduce:
http://phanbook.dev/users/signin -> Click **Sign in using Github**
Authorize, and when you get forwarded back, then you see the above error.

Cause:
This is caused by the MySQL table definition for `users` not allowing `NULL` for the "passwd" column.
Thus

[2017-08-17 14:35] duythien commented on #240
Thanks

[2017-08-17 14:35] #240 closed

[2017-08-17 15:11] Ultimater opened #243 "/backend/users produces a 500 error"
Steps to reproduce:
Login as the admin user: admin:phanbook
Click the "settings" link on the to of the page.
Click the DashBoard link.
Once you're in the Dashboard **double click** "Users".
You should now be looking at the `/backend/dashboard` page.
It produces a 500 error and writes a log to `content/logs`:
[code]
You can run the above directly on the database:

Trying that yields `#1054 - Unknow

[2017-08-17 15:23] duythien commented on #243
👍

[2017-08-17 17:10] Ultimater opened #245 "/backend/store produces 404"
Navigate to `/backend/dashboard` and you'll notice a link to "store" in the navigation:

![dashboard-link](https://user-images.githubusercontent.com/1922199/29422618-a2a694ce-832d-11e7-8266-e73666f9ac4e.png)

Upon clicking it, you get a 404 page:

![backend-store-404](https://user-images.githubusercontent.com/1922199/29422645-b87b9d08-832d-11e7-8153-23765d9fcc0f.png)

Judging by the navigation lin

[2017-08-17 18:30] sergeyklay commented on #243
Fixed in the `develop` branch. Thank you for contributing!

[2017-08-17 18:30] #243 closed

[2017-08-17 18:35] sergeyklay commented on #245
Hmm 🤔 I forgot. Maybe it is semi-finished feature planned for future?

/cc @duythien

[2017-08-17 19:18] Ultimater opened #246 "DatabaseSeeder task broken"
See error in screenshot below:

![broken-task](https://user-images.githubusercontent.com/1922199/29427099-982d5aea-833d-11e7-9bec-22a9ce2f0959.png)

The backtrace in the screenshot mentions line 35:
https://github.com/phanbook/phanbook/blob/667d07f9082bb871b73ba6265c66c12d370c9c10/core/modules/cli/tasks/DatabaseSeederTask.php#L35

This is caused by the following four pointing nowhere:

    use Pha

[2017-08-17 23:48] Ultimater commented on #16
This hasn't seen any activity, mind assigning it to me?

[2017-08-17 23:53] Ultimater commented on #34
I can implement this. I use reddit a lot and understand how this would work. Having worked with hierarchy data in the past, I believe incubator's NestedSet is a good approach to this. Probably just grab https://github.com/phalcon/incubator/blob/master/Library/Phalcon/Mvc/Model/Behavior/NestedSet.php and toss it into `/core/common/library` as a directory `incubator`. The idea being if we need to gr

[2017-08-17 23:59] Ultimater commented on #56
This one is tricky. I believe if we designed a router that was aware of the application root, rather than the web root, it could respect a sub directory. Probably can tackle this at the same time as [PR 236](https://github.com/phanbook/phanbook/pull/236).

[2017-08-18 00:56] Ultimater commented on #59
This isn't a Wamp issue. This is sub directory issue. If you're going to be developing on Wamp, you should make yourself familiar with the `C:\wamp\bin\apache\apache2.4.9\conf\httpd.conf` file. (or whatever version you're running)

I'm not going to include the whole thing on my end, but an optimal Wamp setup on Windows should look something like this, where you give each project its own domain:

[

[2017-08-18 01:54] Ultimater commented on #72
Yeah, we need a good way to accomplish this sort of thing.
While it's pretty easy to write three lines in our bootstrap
[code]
Do we really want to be using the "pretty page handler" though and risk that sort of information spilling into production, getting viewed by others? Enable/disable by config and limit by ip address in a whitelist perhaps?

Otherwise it seems like a perfect debugging tool t

[2017-08-18 01:56] Ultimater commented on #90
First\*  Release\*
I think we can get a stable release ready within the next few weeks. I'm working through the issues right now.

[2017-08-18 01:58] Ultimater commented on #97
This should probably wait until after a stable release ( i.e.`1.0.0` )

[2017-08-18 01:59] Ultimater commented on #105
Can you assign this to me?

[2017-08-18 02:02] Ultimater commented on #156
This sounds very easy. I'll look into it.

[2017-08-18 02:17] Ultimater commented on #157
Are you referring to the breadcrumbs?

![breadcrumbs-phalcon](https://user-images.githubusercontent.com/1922199/29441381-cc1a37aa-837f-11e7-9fe2-ce6bf4934e62.png)

And you want it to say something like `Home / Tags / PhalconPHP` in my case rather than PostByTag?
Working on it.

[2017-08-18 02:35] Ultimater commented on #212
I believe you're confusing the intended directory structure. The `public` directory in the project is supposed to be redirected to by .htaccess only. Thus there's two .htaccess files in the project. So in other words, you're supposed to copy-paste all the files in the repo and toss them all into your web root, in public view. Then .htaccess forwards everything to `/public`. This allows `/css/theme

[2017-08-18 02:43] Ultimater commented on #219
Not currently. Duplicate of https://github.com/phanbook/phanbook/issues/34
I'm working on adding a way.

[2017-08-18 03:00] Ultimater commented on #225
Currently it's going to `http://phanbook.dev/content/uploads/2017/08/7d2bfee96c493855.png`
(phanbook.dev is my local development host setup)

How would you like to see this changed?  Also there's currently an issue that the media can't be accessed directly. This can be solved by adding the following rule to the root-most .htaccess file in the project:

[code]

Thus you'd have:

[code]

I'll send i

[2017-08-18 03:16] Ultimater opened #248 "backend/media images not displaying"
![backend-media-not-displaying](https://user-images.githubusercontent.com/1922199/29442791-b2969bb2-8388-11e7-9610-e840af16f9f3.png)

My fix is:  `RewriteRule ^(content/uploads)($|/) - [NC,L]`

![backend-media-not-display-after](https://user-images.githubusercontent.com/1922199/29442802-cca60a60-8388-11e7-8fc4-470f4bf54318.png)

[2017-08-18 04:18] Ultimater opened #250 "Top menu lacks an indicator that you're logged in."
There should be an indicator that you're logged in, along with your username and/or name along the top so you know that you're logged in, rather than having to click "+Settings" to see if the "logout" link is present.  As we're using stackoverflow as the rolemodel of what phanbook is supposed to be, let's see what they use to indicate logged in vs not logged in:

Not logged in:
---

![not-logged-i

[2017-08-18 06:28] #212 closed

[2017-08-18 07:09] Ultimater commented on #246
Hmm, I appear to be wrong about the schema not being able to be run back-to-back without errors.

Travis has successfully been able to run:
[code]
I tried running the two back-to-back on a fresh database and it worked fine for both the master and develop branches.  Perhaps leave `/scheme` alone for now.

[2017-08-18 09:22] eva-thientran commented on #59
👍

[2017-08-18 17:27] Ultimater commented on #248
Fixed in the develop branch.

[2017-08-18 17:27] #248 closed

[2017-08-18 18:15] sergeyklay commented on #248
@Ultimater Could you add labels to the new issues. This will help us to understand what happens (or happened)

[2017-08-18 18:16] sergeyklay commented on #248
Feel free to create new ones if it is necessary

[2017-08-18 18:32] sergeyklay commented on #72
@Ultimater

- [Phalcon Phosphorum](https://github.com/phalcon/forum/blob/3.x/app/provider/ErrorHandler/ServiceProvider.php)
- [Phalcon Docs App](https://github.com/phalcon/docs-app/blob/master/app/providers/ErrorHandler/ServiceProvider.php)

[2017-08-18 18:41] #219 closed

[2017-11-09 16:02] Ultimater opened #251 "Security concern: volt files should not be accessible via web"
e.g. http://meta.phanbook.com/content/themes/default/page.volt

[2017-11-10 07:03] eva-thientran commented on #251
👍

[2017-11-16 08:49] stamster commented on #251
This could be solved at web server level, rule not to serve .volt files. Those are included by internal application only, thus only public access would get denied.

[2017-12-10 10:47] duythien commented on #251
@stamster Could you add a script config for that?

[2017-12-11 09:04] stamster commented on #251
I usually block many file types, in this case it would be log files and volt files.

For nginx:

[code]

For Apache - should be fairly simple as well (more complex than nginx still).

[2017-12-16 12:02] godeye opened #254 "config/options/options.php because No such file or directory"
[Sat Dec 16 07:00:29 2017] [error] [client 171.113.82.181] PHP Warning:  touch(): Unable to create file /srv/www/com/core/config/options/options.php because No such file or directory in /srv/www/com/core/common/tools/ZFunction.php on line 88, referer: http://www.com.com/backend/settings/general
[Sat Dec 16 07:00:29 2017] [error] [client 171.113.82.181] PHP Fatal error:  Uncaught exception 'Excepti

[2017-12-20 03:30] duythien commented on #254
@godeye Just fixed it. To be sure created a file success you need add permission for the folder content/options

[2017-12-25 06:05] duythien opened #256 "Should move assets core to public directory"
Hello

As you know when we put css and js into core and modules it will be help clean code but when we want to deploy to CDN maybe it is hard

Any idea for that?

[2017-12-25 06:18] Ultimater commented on #256
I'm thinking some sort of "put all your assets here" and "run this script to deploy your assets", keeping things like webpack (node.js) in mind.

[2017-12-25 06:21] Ultimater commented on #256
But otherwise, I'm thinking the current phanbook structure could be simplified a lot if the assets were stored in the `/public/` directory. I'd like to get rid of the two `.htaccess` files and use only one instead, making the `/public/` directory the web root instead of `/`.

[2017-12-25 07:12] duythien commented on #256
@Ultimater I like the webpack option

[2017-12-25 07:29] Ultimater commented on #256
Does this mean you want to keep the current double .htaccess structure, or can we simplify it to use only one? I'm thinking have below web root unbundled assets, and have them bundle to `/public/` which we'd make the new web root.

[2017-12-25 07:43] Ultimater commented on #256
Alternatively have them bundle to something like `/public/dist/` and point a subdomain or another domain (for cloudflare) at the directory, or simply `//example.com/dist/bundle.js` and do it through `/dist/`. Or have a place in Phanbook where people can configure this to their liking to decide how they want to deploy their assets.

[2018-01-31 17:47] JavierGallego opened #257 "Problem installation white screen after install on my vps with plesk onyx"
Hi!, I find this software and I follow the steps for manual installation. All is right till I go to see the web only show a white screen, please I need help!, or if anyone can help to install I can give access.

[2018-02-01 07:45] eva-thientran commented on #257
@JavierGallego

I think about permission write file, could you check logs file in nginx, or in directory content/logs of phanbook

[2018-08-04 04:57] #257 closed

[2018-08-20 09:46] mvenkat507 commented on #105
Hi,

Can we know the update on this badges and rewards code?

[2018-09-06 17:25] duythien commented on #105
@Ultimater Any update :)

[2018-09-07 07:28] Ultimater commented on #105
Currently working on stability and architectural design changes.
I won't be able to tackle this feature request for another two or three months.

[2019-09-07 17:16] #254 closed

[2019-09-07 17:17] #211 closed

[2019-09-08 14:42] duythien commented on #245
It's link for feature :) so now we can close this issue

[2019-09-08 14:42] #245 closed

[2019-09-08 14:43] duythien commented on #159
See pull request #260

[2019-09-08 14:43] #159 closed

[2019-09-08 14:44] duythien opened #261 "The Missing Phalcon Admin"
As a developer, I want a skeleton admin page for project phalcon. I would like the phanbook have function like this https://voyager.devdojo.com/

[2019-09-24 03:22] godeye opened #262 "does Blog Theme have down link?"
as the phanbook.com is closed, does Blog Theme have down link?

[2019-10-30 06:21] duythien commented on #262
Nope, still in develop but that the moment I have not time

[2019-11-02 05:11] mzch opened #264 "Problem of Google OAuth"
Hi,

I set up Google OAuth and Analytics API, but PhanBook failed to login/sign up using Google OAuth.
Could you tell me how to fix this issue?

- Log
[code]

[2019-11-10 14:14] duythien commented on #264
@mzch Have add config google to file .env ?

[2019-11-10 14:15] #262 closed

[2019-11-10 15:21] mzch commented on #264
Yes, they are `ANALYTIC_CLIENT_ID=` and `ANALYTIC_SECRET=`, aren't they?

[2019-11-10 15:53] duythien commented on #264
Yes

[2019-11-10 16:12] duythien commented on #264
@mzch See here https://github.com/phanbook/phanbook/pull/265